.post-list {
  .home-page {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    height: 100%;

    background-color: #3c3c3c;
    color: #f9f9f9;

    .aligner-item {
      max-width: 50%;
    }

  }
}
