.editor {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  border: 0;
  color: #3d4043;
  font-size: 1.6rem;
  line-height: 2.5rem;
  resize: none;
}
