.modal.center .modal-dialog {
  margin: 0;
}

.modal-header {
  border-bottom: 0;
}

.modal-content {
  border-radius: 0;
}

@media (max-width: $sm-min) {
  .modal.center {

    .modal-dialog {
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: none;

      .modal-content {
        height: 100vh;
        width: 100vw;
      }
    }
  }
}